.card {
    position: relative;
    height: 650px;
    width: 436px;
    border-radius: 8px;
    /* border: 2px solid white; */
    text-align: left;
    background-color: #a30953;
    border-radius: 8px;
    /* background-color: yellow; */
}

.scroll-item {
    scroll-snap-align: center;
}