.grid {
  --colWidth: 436px;
  --imageHeight: 512px;
  /* --imageWidth: 436px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--colWidth));
  grid-gap: 10px;
  overflow-x: scroll;
  padding-left: 43px;
  grid-auto-flow: column;
  grid-auto-columns: var(--colWidth);
  position: relative;

  grid-template-rows: var(--imageHeight) repeat(3, max-content)
}

.snap-type-x-mandatory {
  scroll-snap-type: x mandatory;
  margin-bottom: 100px;

}