
.background-image{
    background-image: url('../../assets/card-img-dolby-atmos.png');
    background-size: 60%;
    background-position: center 3rem;
    background-repeat: no-repeat;
}

.flex-column{
    height: 100%;
    min-height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.flex-column::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(133, 12, 129, 0) 38%,#670d76 68%);
    /* opacity: .7; */
    background-image: linear-gradient(rgba(133, 12, 128, 0) 38%, rgb(103, 13, 118) 68%);
    z-index: 1;
}

h2 {
    font-weight: 600;
}

.heading-intermediate {
    font-size: 1.29rem;
    line-height: 1.5;
    /* margin-bottom: -.75rem; */
    z-index: 3;
    letter-spacing: .021em;

  
}

.card-text {
    font-size: 1rem;
    line-height: 1.58rem;
    z-index: 3;
    font-weight: 200;
    letter-spacing: .021em;
    margin-bottom: 1.5rem;
}

.card-link {
    z-index: 3;
}

.bg-gradient {
    background: linear-gradient(180deg,rgba(133, 12, 129, 0) 38%,#670d76 68%);
    height: inherit;
}