@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');


:root {}

*,
*::before,
*::after {
  Box-sizing: border-box;
  /* --gridNumber: 1; */
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

body {
  color: #fff;
  background-color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;

}

.baseline-flow,
.form-select-wrapper,
blockquote,
dd,
fieldset,
figure,
input,
ol,
p,
small,
table,
textarea,
ul {
  margin-bottom: 1.5rem;
}


img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}